* {
	margin: 0;
	padding: 0;
}

.box {
	width: 50px;
	height: 50px;
	position: absolute;
	float: left;
	border: 1px solid;
	border-radius: 25px;
	text-align: center;

}

.empty-box {
	width: 50px;
	height: 50px;
	position: absolute;
	float: left;
	background-color: white;
	opacity: 0;
	margin-left: 150px;
	margin-top: 150px;
}

#container {
	height: 250px;
	width: 250px;
}