* {
	margin: 0;
	padding: 0;
}

.box {
	width: 100px;
	height: 100px;
	position: absolute;
	margin: 2px;
	float: left;
	border: 1px solid;
	border-radius: 25px;
	text-align: center;
	background-color: #A2E1E4;
}

.empty-box {
	width: 100px;
	height: 100px;
	position: absolute;
	float: left;
	background-color: white;
	opacity: 0;
	margin-left: 150px;
	margin-top: 150px;
}

.title {
	width: 80%;
	margin-left: 10%;
	padding: 20px;
	font-family: 'arial';
}

#container {
	height: 500px;
	width: 500px;
	margin: auto;
}